:root {
  --br: 3px;
  --gray: #cecece;
  --highlight-gray: #e6e6e6;
  --fz: 22px;
  --lh: 25px;
  --footnote-gray: #969696;
  --column-width: 780px;
}

@font-face {
  font-family: "Neue Haas";
  src: url("/fonts/neue.woff2") format("woff2");
  font-style: normal;
  font-display: block;
  font-weight: 400;
}

html {
  font-synthesis: none;
}

body {
  font-family: "Neue Haas", -apple-system, system-ui, sans-serif;
  font-size: var(--fz);
  line-height: var(--lh);
}

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 1140px) {
:root {
    --column-width: 580px;
  }
}

@media (max-width: 980px) {
  :root {
    --column-width: 450px;
  }
}

::-moz-selection {
  color: #ff0000;
  background: none;
}

::selection {
  color: #ff0000;
  background: none;
}