@import "./variables";

@font-face {
  font-family: "Neue Haas";
  src: url("/fonts/neue.woff2") format("woff2");
  font-style: normal;
  font-display: block;
  font-weight: 400;
}

html {
    font-synthesis: none;
}

body {
  font-family: 'Neue Haas', -apple-system;
  // font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: $fz;
  line-height: $lh;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* define your custom animations */
@keyframes slide-out {
  from {
    transform: translateX(0);
    opacity: 1;
  }

  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* old view slides out to the left */
::view-transition-old(root) {
  animation: slide-out 0.4s ease both;
}

/* new view slides in from the right */
::view-transition-new(root) {
  animation: slide-in 0.4s ease both;
}