---
import Nav from '../components/Nav.astro';
import Feed from '../components/Feed.astro'
import Layout from '../layouts/Layout.astro';

---

<Layout title="Dzastins’ website—Archive">
	<Nav></Nav>
    <Feed type="about">Archive</Feed>
</Layout>
