---
import Feed from "../components/Feed.astro";
import Layout from "../layouts/Layout.astro";
import PostPreview from "../components/PostPreview.astro";

import { getPosts } from "../data/works";
const archivedPosts = await getPosts("archive", "archivedPosts");
---

<Layout title="Dzastins’ website—Archive">
  <Feed type="archive">
    {(archivedPosts.length == 0) ? <p>Archive is currently empty… come back later</p> :
      archivedPosts.map((post) => (
        <a href={`/${post.slug}`}>
          <PostPreview post={post} />
        </a>
      ))
    }
  </Feed>
</Layout>
