---
import Nav from '../components/Nav.astro';
import Layout from '../layouts/Layout.astro';
import Feed from '../components/Feed.astro'
---

<Layout>
	<Nav></Nav>
	<Feed type="home"></Feed>
</Layout>

<style lang="scss">

</style>
