---
import Layout from "../layouts/Layout.astro";
import WorkPreview from "../components/WorkPreview.astro";

import { getPosts } from "../data/works";
const works = await getPosts("works", "selectedWorkPosts");

// console.log(works);
---

<Layout title="Dzastins’ website—Works">
  <div class="work-feed">
    {works.map((work) => <WorkPreview workPost={work} />)}
  </div>
</Layout>

<style lang="scss">
  .work-feed {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
</style>
