---
export const prerender = false;

import Layout from "../layouts/Layout.astro";
import WorkPreview from "../components/WorkPreview.astro";

import { getPosts } from "../data/works";
const works = await getPosts("works", "selectedWorkPosts");

// console.log(works);
---

<Layout title="Dzastins Zavadzkis—Works">
  <div class="works-page">
    <div class="work-feed">
      {works.map((work) => <WorkPreview workPost={work} />)}
    </div>
  </div>
</Layout>

<style lang="scss">
  .work-feed {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
</style>
