---
const routes = ["/works", "/about", "/blog"];
---

<ul class="nav-bar" id="navBar" data-routes={JSON.stringify(routes)}>
  <li><a href="/works">Works</a></li>
  <li><a href="/about">About</a></li>
  <li><a href="/blog">Blog</a></li>

  <div class="animation"></div>
</ul>

<style lang="scss">
  @import "../styles/_variables.scss";

  .nav-bar {
    position: fixed;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    list-style: none;
    background-color: $gray;
    border: 3px solid $gray;
    border-radius: $br;
    width: max-content;
    padding: 0;
    z-index: 1000;
    overflow: hidden;
    transition:
      top 0.25s ease,
      opacity 0.25s ease;
  }

  .nav-bar--hidden {
    top: -80px;
    opacity: 0;
  }

  .nav-bar li {
    position: relative;
    z-index: 1;
  }

  .nav-bar a {
    padding: 0 14px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-decoration: none;
    white-space: nowrap;
  }

  .animation {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #000;
    border-radius: $br;
    z-index: 0;
    pointer-events: none;
    width: 0;
    transform: translateX(0);
    transition:
      transform 0.25s ease,
      width 0.25s ease;
  }
</style>
