---
const currentPath = Astro.url.pathname;
---

<ul class="nav-bar">
  <li class={currentPath === "/works" ? "active" : ""}>
    <a href="/works">Works</a>
  </li>
  <li class={currentPath === "/about" ? "active" : ""}>
    <a href="/about">About</a>
  </li>
  <li class={currentPath === "/blog" ? "active" : ""}>
    <a href="/blog">Blog</a>
  </li>
  <li class={currentPath === "/archive" ? "active" : ""}>
    <a href="/archive">Archive</a>
  </li>
</ul>

<style>
  .nav-bar {
    display: flex;
    list-style: none;
    width: 30%;
    justify-content: space-around;
    top: 30px;
    position: fixed;
    left: 0;
    right: 0;
    margin: auto;
    transition:
      transform 0.3s ease,
      opacity 0.3s ease;
    z-index: 1000;
  }

  .nav-bar.hidden {
    transform: translateY(-300%);
    opacity: 0;
  }

  .nav-bar li {
    border: 1px solid lightgray;
    padding: 5px 10px;
    border-radius: 5px;
    width: 75px;
    text-align: center;
    background: white;
  }

  .nav-bar li.active {
    border-color: black;
  }
</style>

<script>
  let lastScrollY = window.scrollY;
  const nav = document.getElementById("navBar");

  window.addEventListener("scroll", () => {
    const currentScrollY = window.scrollY;

    if (currentScrollY > lastScrollY && currentScrollY > 60) {
      // scrolling down
      nav.classList.add("hidden");
    } else {
      // scrolling up
      nav.classList.remove("hidden");
    }

    lastScrollY = currentScrollY;
  });
</script>
