<ul class="nav-bar">
    <li><a href="/works">Works</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blog">Blog</a></li>
    <li><a href="/">Archive</a></li>
</ul>

<style>
    .nav-bar {
        display: flex;
        list-style: none;
        width: 30%;
        justify-content: space-around;
        margin-top: 30px;
        position: fixed;
    }

    .nav-bar li {
        border: 1px solid lightgray;
        padding: 5px 10px;
        border-radius: 5px;
        width: 75px;
        text-align: center;
        background: white;
    }
    
</style>

