---
import Nav from "../components/Nav.astro";
import "../styles/reset.scss";
import "../styles/global.scss";
import { ViewTransitions } from "astro:transitions";
const { title } = Astro.props;
---

<!doctype html>
<html lang="en" transition:animate="none">
  <!-- disable default fade site-wide -->
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>

  <body>
    <ViewTransitions />

    <!-- Site navigation -->
    <Nav transition:persist />

    <!-- Only the main content slides -->
    <main class="main-container">
      <slot />
    </main>

    <!-- Persist any other fixed UI too -->
    <div class="copyright">© 2025, Dzastins Zavadzkis</div>

    <script src="/scripts/nav.js" is:inline></script>
    <script src="/scripts/work-previews.js" is:inline></script>
    <script src="/scripts/blog-previews.js" is:inline></script>
  </body>
</html>

<style lang="scss">
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
  .main-container {
    width: 50%;
    margin-left: 25%;
    padding-bottom: 50px;
    padding-top: 100px;
  }
  .copyright {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 9999;
  }

  @media (max-width: 768px) {
    .main-container {
      margin-left: 0;
      width: 90%;
      margin-left: 5%;
    }
  }
</style>
