---
import Nav from "../components/Nav.astro";
import "../styles/reset.scss";
import "../styles/global.scss";
import { ViewTransitions } from "astro:transitions";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" transition:animate="none">
  <!-- disable default fade site-wide -->
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, viewport-fit=cover"
    />

    <link
      rel="preload"
      href="/fonts/neue.ttf"
      as="font"
      type="font/ttf"
      crossorigin
    />

    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>

  <body>
    <ViewTransitions />

    <!-- Site navigation (persisted across transitions) -->
    <Nav transition:persist />

    <!-- Only the main content transitions -->
    <main class="main-container">
      <slot />
    </main>

    <!-- Persist any other fixed UI too -->
    <div class="copyright">© 2025, Dzastins Zavadzkis</div>

    <!-- Scripts -->
    <script src="/scripts/nav.js" is:inline></script>
    <script src="/scripts/work-previews.js" is:inline></script>
    <script src="/scripts/blog-previews.js" is:inline></script>
  </body>
</html>

<style lang="scss">
  @import "../styles/_variables.scss";

  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }

  .main-container {
    width: 42%;
    margin-left: 29%;
    padding-bottom: 50px;
    padding-top: 132px;
  }

  .copyright {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 9999;
  }

  @media (max-width: 768px) {
    .main-container {
      width: 90%;
      margin-left: 5%;
      padding-top: 110px;
    }

    .copyright {
      font-size: $fz * 0.75;
    }
  }
</style>
